{% extends 'base.html' %}

{% block header %}
  <!-- <h1>{% block title %}{{ post['title'] }}{% endblock %}</h1> -->
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div>
        <h1>{{ post['title'] }}</h1>
        <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
      </div>
      {% if g.user['id'] == post['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
      {% endif %}
    </header>
    <p class="body">{{ post['body'] }}</p>
    <p class="about">{{ post['likes'] }}   <a class="action" href="{{ url_for('.show_like', id=post['id']) }}">likes</a>, 
                     {{ post['unlikes'] }} <a class="action" href="{{ url_for('.show_unlike', id=post['id']) }}">unlikes</a>,
                     {{ post['nr_comments'] }} <a>comments</a>
                    </p>

    <h3>Comments:</h3>
    {% for comment in comments %}
    <div>
      <p class="comment-header">{{ comment['username'] }} on {{ comment['comment_created'].strftime('%Y-%m-%d %H:%M') }} :</p>
      <p class="comment">{{ comment['comment_body'] }}</p>
      {% if g.user['id'] == comment['user_id'] %}
        <a class="action, comment-header" href="{{ url_for('.comment_update', id=post['id'], comment_id=comment['id']) }}">Edit comment </a>
        <a class="action, comment-header" href="{{ url_for('.comment_delete', id=post['id'], comment_id=comment['id']) }}">Delete comment </a>
      {% endif %}
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

  {% if g.user %}
    <form style="padding-left: 1rem; padding-top: 3rem;;" method="post">
      <label for="body">Leave your comment:</label>
      <textarea name="body" id="body">{{ request.form['body'] or comments['comment_body'] }}</textarea>
      {% if comment %}
      <input type="hidden" id="datetime" name="datetime" value={{ comment['comment_created'] or '' }}>
      {% endif%}
      <input type="submit" value="Send">
    </form>
  {% endif %}
               

  </article>
{% endblock %}
